*.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_115.txtgit filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_105.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_106.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_107.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_110.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_116.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_104.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_113.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_117.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_109.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_111.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_114.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_108.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_112.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_115.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/Congress_118.txt filter=lfs diff=lfs merge=lfs -text
Data/extracted_text_from_pdfs/*.txt filter=lfs diff=lfs merge=lfs -text
